In [2]:
import sys
!{sys.executable} -m pip install matplotlib seaborn pandas numpy

Collecting matplotlib

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: C:\Users\chita\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

  Downloading matplotlib-3.10.8-cp313-cp313-win_amd64.whl.metadata (52 kB)
Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: pandas in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (2.1.3)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.3-cp313-cp313-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.61.1-cp313-cp313-win_amd64.whl.metadata (116 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.9-cp313-cp313-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-12.0.0-cp313-cp313-win_amd64.whl.metadata (9.0 kB)
Collecting pyparsing>=3 (from matplotlib)
  Downloading pyparsing-3.2.5-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.8-cp313-cp313-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   ----- ---------------------------------- 1.0/8.1 MB 5.7 MB/s eta 0:00:02
   ------------ --------------------------- 2.6/8.1 MB 6.4 MB/s eta 0:00:01
   -------------------- ------------------- 4.2/8.1 MB 7.0 MB/s eta 0:00:01
   -------------------------------- ------- 6.6/8.1 MB 7.9 MB/s eta 0:00:01
   ---------------------------------- ----- 7.1/8.1 MB 7.1 MB/s eta 0:00:01
   ---------------------------------------  8.1/8.1 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 6.3 MB/s eta 0:00:00
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading contourpy-1.3.3-cp313-cp313-win_amd64.whl (226 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.61.1-cp313-cp313-win_amd64.whl (2.3 MB)
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.3 MB 3.0 MB/s eta 0:00:01
   ------------- -------------------------- 0.8/2.3 MB 2.5 MB/s eta 0:00:01
   ---------------------- ----------------- 1.3/2.3 MB 2.2 MB/s eta 0:00:01
   ------------------------------- -------- 1.8/2.3 MB 2.1 MB/s eta 0:00:01
   ------------------------------------ --- 2.1/2.3 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 2.3/2.3 MB 2.1 MB/s eta 0:00:00
Downloading kiwisolver-1.4.9-cp313-cp313-win_amd64.whl (73 kB)
Downloading pillow-12.0.0-cp313-cp313-win_amd64.whl (7.0 MB)
   ---------------------------------------- 0.0/7.0 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.0 MB ? eta -:--:--
   ---- ----------------------------------- 0.8/7.0 MB 2.4 MB/s eta 0:00:03
   ------- -------------------------------- 1.3/7.0 MB 2.4 MB/s eta 0:00:03
   ---------- ----------------------------- 1.8/7.0 MB 2.4 MB/s eta 0:00:03
   ------------- -------------------------- 2.4/7.0 MB 2.4 MB/s eta 0:00:02
   ---------------- ----------------------- 2.9/7.0 MB 2.3 MB/s eta 0:00:02
   ---------------- ----------------------- 2.9/7.0 MB 2.3 MB/s eta 0:00:02
   ------------------- -------------------- 3.4/7.0 MB 2.0 MB/s eta 0:00:02
   -------------------- ------------------- 3.7/7.0 MB 2.0 MB/s eta 0:00:02
   ---------------------- ----------------- 3.9/7.0 MB 1.9 MB/s eta 0:00:02
   ------------------------- -------------- 4.5/7.0 MB 1.9 MB/s eta 0:00:02
   -------------------------- ------------- 4.7/7.0 MB 1.9 MB/s eta 0:00:02
   ---------------------------- ----------- 5.0/7.0 MB 1.8 MB/s eta 0:00:02
   ------------------------------- -------- 5.5/7.0 MB 1.8 MB/s eta 0:00:01
   -------------------------------- ------- 5.8/7.0 MB 1.8 MB/s eta 0:00:01
   ----------------------------------- ---- 6.3/7.0 MB 1.8 MB/s eta 0:00:01
   -------------------------------------- - 6.8/7.0 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 7.0/7.0 MB 1.8 MB/s eta 0:00:00
Downloading pyparsing-3.2.5-py3-none-any.whl (113 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.61.1 kiwisolver-1.4.9 matplotlib-3.10.8 pillow-12.0.0 pyparsing-3.2.5 seaborn-0.13.2

In [3]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
#loading the dataset
df_test = pd.read_csv(r'career_recommender.csv')

In [5]:
df_test.head()

,What is your name?,What is your gender?,What was your course in UG?,What is your UG specialization? Major Subject (Eg; Mathematics),What are your interests?,What are your skills ? (Select multiple if necessary),What was the average CGPA or Percentage obtained in under graduation?,Did you do any certification courses additionally?,"If yes, please specify your certificate course title.",Are you working?,"If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.","Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)"
0,A.Uha Priya,Female,B.Sc,Computer Applications,Cloud computing,Python;SQL;Java,85,Yes,"Linux,Git",Yes,Software,MCA
1,Aadil,Male,B.E,Computer Science Engineering,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5,Yes,Microsoft certification,Yes,Computer Software Engineer,NaN
2,Aakriti,Female,BA,Psychology,Understand human behaviour,People management;Communication skills,64.6,Yes,Resilience psychology,No,NaN,NaN
3,Aanchal sharma,Female,MBA,Commerce,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525,No,No,Yes,Relationships manager,NaN
4,Aangkeeta Sarkar,Female,B.Tech,Instrumentation Engineering,Technology,\nPLC Allen Bradley;PLC Ladder Logic;LabVIEW;B...,70.68,Yes,Extreme Productivity (Blinkist Summary),Yes,Plant Instrumentation Engineer,NaN

In [6]:
df_test.isnull().sum()

What is your name?                                                                                                            0
What is your gender?                                                                                                          0
What was your course in UG?                                                                                                   0
What is your UG specialization? Major Subject (Eg; Mathematics)                                                               0
What are your interests?                                                                                                      0
What are your skills ? (Select multiple if necessary)                                                                         1
What was the average CGPA or Percentage obtained in under graduation?                                                         0
Did you do any certification courses additionally?                                                                            0
If yes, please specify your certificate course title.                                                                         1
Are you working?                                                                                                              0
If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.                   296
Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)             726
dtype: int64

In [7]:
df_test['What are your skills ? (Select multiple if necessary)'].mode()

0    NO
Name: What are your skills ? (Select multiple if necessary), dtype: object

In [10]:
df_test['What are your skills ? (Select multiple if necessary)'].fillna(df_test['What are your skills ? (Select multiple if necessary)'].mode()[0],inplace=True)

In [11]:
df_test['If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               '].mode()

0    Student (Unemployed)
Name: If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               , dtype: object

In [13]:
df_test['If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               '].fillna(df_test['If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               '].mode()[0],inplace=True)

In [14]:
df_test['Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)'].mode()

0    Masters in Business Administration
Name: Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics), dtype: object

In [16]:
df_test['Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)'].fillna(df_test['Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)'].mode()[0],inplace=True)

In [17]:
df_test.isnull().sum()

What is your name?                                                                                                          0
What is your gender?                                                                                                        0
What was your course in UG?                                                                                                 0
What is your UG specialization? Major Subject (Eg; Mathematics)                                                             0
What are your interests?                                                                                                    0
What are your skills ? (Select multiple if necessary)                                                                       0
What was the average CGPA or Percentage obtained in under graduation?                                                       0
Did you do any certification courses additionally?                                                                          0
If yes, please specify your certificate course title.                                                                       1
Are you working?                                                                                                            0
If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.                   0
Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)             0
dtype: int64

In [19]:
# Create a dictionary of the old column names and new column names
column_dict= {'What is your name?': 'Name',
               'What is your gender?': 'Gender',
               'What was your course in UG?': 'Course',
               'What is your UG specialization? Major Subject (Eg; Mathematics)': 'Specialization',
               'What are your interests?': 'Interest',
               'What are your skills ? (Select multiple if necessary)': 'Skills',
               'What was the average CGPA or Percentage obtained in under graduation?': 'Grades',
               'Did you do any certification courses additionally?': 'Any_Add_Cert_Courses',
               'If yes, please specify your certificate course title.': 'Cert_Courses_Desc',
               'Are you working?': 'Working?',
               'If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               ': 'Job_Title',
               'Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)': 'Masters_Desc'}

# Rename the columns using the dictionary
df_test = df_test.rename(columns=column_dict)

In [20]:
print(df_test.columns)

Index(['Name', 'Gender', 'Course', 'Specialization', 'Interest', 'Skills',
       'Grades', 'Any_Add_Cert_Courses', 'Cert_Courses_Desc', 'Working?',
       'Job_Title', 'Masters_Desc'],
      dtype='object')

In [21]:
df_test.drop(['Name', 'Specialization', 'Any_Add_Cert_Courses', 'Cert_Courses_Desc', 'Working?', 'Job_Title', 'Masters_Desc'], axis=1, inplace=True)

In [22]:
print(df_test.columns)

Index(['Gender', 'Course', 'Interest', 'Skills', 'Grades'], dtype='object')

Data Cleaning using Klib Library¶

In [25]:
import sys
!{sys.executable} -m pip install klib
import klib

Collecting klib
  Downloading klib-1.3.2-py3-none-any.whl.metadata (7.4 kB)
Requirement already satisfied: jinja2>=3.1.0 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from klib) (3.1.4)
Requirement already satisfied: matplotlib>=3.6.0 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from klib) (3.10.8)
Requirement already satisfied: numpy>=1.26.0 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from klib) (2.1.3)
Requirement already satisfied: pandas<3.0,>=1.4 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from klib) (2.2.3)
Collecting plotly>=5.11.0 (from klib)
  Downloading plotly-6.5.0-py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: scipy>=1.10.0 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from klib) (1.14.1)
Collecting screeninfo>=0.8.1 (from klib)
  Downloading screeninfo-0.8.1-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: seaborn>=0.12.0 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from klib) (0.13.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from jinja2>=3.1.0->klib) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from matplotlib>=3.6.0->klib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from matplotlib>=3.6.0->klib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from matplotlib>=3.6.0->klib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from matplotlib>=3.6.0->klib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from matplotlib>=3.6.0->klib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from matplotlib>=3.6.0->klib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from matplotlib>=3.6.0->klib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from matplotlib>=3.6.0->klib) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from pandas<3.0,>=1.4->klib) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from pandas<3.0,>=1.4->klib) (2024.2)
Collecting narwhals>=1.15.1 (from plotly>=5.11.0->klib)
  Downloading narwhals-2.14.0-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: six>=1.5 in c:\users\chita\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.6.0->klib) (1.17.0)
Downloading klib-1.3.2-py3-none-any.whl (23 kB)
Downloading plotly-6.5.0-py3-none-any.whl (9.9 MB)
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   -- ------------------------------------- 0.5/9.9 MB 1.6 MB/s eta 0:00:06
   --- ------------------------------------ 0.8/9.9 MB 1.7 MB/s eta 0:00:06
   ---- ----------------------------------- 1.0/9.9 MB 1.6 MB/s eta 0:00:06
   ------ --------------------------------- 1.6/9.9 MB 1.7 MB/s eta 0:00:06
   --------- ------------------------------ 2.4/9.9 MB 2.1 MB/s eta 0:00:04
   ------------ --------------------------- 3.1/9.9 MB 2.3 MB/s eta 0:00:03
   ---------------- ----------------------- 4.2/9.9 MB 2.7 MB/s eta 0:00:03
   ----------------------- ---------------- 5.8/9.9 MB 3.3 MB/s eta 0:00:02
   --------------------------- ------------ 6.8/9.9 MB 3.6 MB/s eta 0:00:01
   ------------------------------ --------- 7.6/9.9 MB 3.7 MB/s eta 0:00:01
   ---------------------------------- ----- 8.7/9.9 MB 3.7 MB/s eta 0:00:01
   ------------------------------------- -- 9.2/9.9 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------- 9.9/9.9 MB 3.6 MB/s eta 0:00:00
Downloading screeninfo-0.8.1-py3-none-any.whl (12 kB)
Downloading narwhals-2.14.0-py3-none-any.whl (430 kB)
Installing collected packages: screeninfo, narwhals, plotly, klib
Successfully installed klib-1.3.2 narwhals-2.14.0 plotly-6.5.0 screeninfo-0.8.1

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: C:\Users\chita\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [26]:
klib.convert_datatypes(df_test) # converts existing to more efficient dtypes, also called inside data_cleaning()

,Gender,Course,Interest,Skills,Grades
0,Female,B.Sc,Cloud computing,Python;SQL;Java,85
1,Male,B.E,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5
2,Female,BA,Understand human behaviour,People management;Communication skills,64.6
3,Female,MBA,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525
4,Female,B.Tech,Technology,PLC Allen Bradley;PLC Ladder Logic;LabVIEW;Bu...,70.68
...,...,...,...,...,...
1190,Male,B.Tech,Technology,"Python, SQL, Oracle",72.2
1191,Male,B.Sc,Technology,"SQL, Problem Solving skills",80.75
1192,Male,B.Tech,Technology;Content Writing,Programming Language skills;Critical Thinking;...,59.22
1193,Male,BE,"Financial Analysis, Technology","AI, Java, SQL, C++, R, Linux",57
1194,Male,B.Sc,Animation,2D/3D Animation,76.285

In [27]:
klib.data_cleaning(df_test) # performs datacleaning (drop duplicates & empty rows/cols, adjust dtypes,...)

Shape of cleaned data: (1180, 5) - Remaining NAs: 0


Dropped rows: 15
     of which 15 duplicates. (Rows (first 150 shown): [167, 293, 412, 446, 500, 629, 635, 694, 777, 863, 924, 1000, 1078, 1093, 1139])

Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 0.01 MB (-20.0%)

,gender,course,interest,skills,grades
0,Female,B.Sc,Cloud computing,Python;SQL;Java,85
1,Male,B.E,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5
2,Female,BA,Understand human behaviour,People management;Communication skills,64.6
3,Female,MBA,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525
4,Female,B.Tech,Technology,PLC Allen Bradley;PLC Ladder Logic;LabVIEW;Bu...,70.68
...,...,...,...,...,...
1175,Male,B.Tech,Technology,"Python, SQL, Oracle",72.2
1176,Male,B.Sc,Technology,"SQL, Problem Solving skills",80.75
1177,Male,B.Tech,Technology;Content Writing,Programming Language skills;Critical Thinking;...,59.22
1178,Male,BE,"Financial Analysis, Technology","AI, Java, SQL, C++, R, Linux",57
1179,Male,B.Sc,Animation,2D/3D Animation,76.285

In [28]:
klib.mv_col_handling(df_test)

C:\Users\chita\AppData\Local\Programs\Python\Python313\Lib\site-packages\klib\clean.py:443: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data_local[cols_mv] = data_local[cols_mv].applymap(lambda x: x if pd.isna(x) else 1).fillna(0)

,Gender,Course,Interest,Skills,Grades
0,Female,B.Sc,Cloud computing,Python;SQL;Java,85
1,Male,B.E,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5
2,Female,BA,Understand human behaviour,People management;Communication skills,64.6
3,Female,MBA,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525
4,Female,B.Tech,Technology,\nPLC Allen Bradley;PLC Ladder Logic;LabVIEW;B...,70.68
...,...,...,...,...,...
1190,Male,B.Tech,Technology,"Python, SQL, Oracle",72.2
1191,Male,B.Sc,Technology,"SQL, Problem Solving skills",80.75
1192,Male,B.Tech,Technology;Content Writing,Programming Language skills;Critical Thinking;...,59.22
1193,Male,BE,"Financial Analysis, Technology","AI, Java, SQL, C++, R, Linux",57
1194,Male,B.Sc,Animation,2D/3D Animation,76.285