In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
#loading the dataset
df_test = pd.read_csv(r'career_recommender.csv')

In [3]:
df_test.head()

,What is your name?,What is your gender?,What was your course in UG?,What is your UG specialization? Major Subject (Eg; Mathematics),What are your interests?,What are your skills ? (Select multiple if necessary),What was the average CGPA or Percentage obtained in under graduation?,Did you do any certification courses additionally?,"If yes, please specify your certificate course title.",Are you working?,"If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.","Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)"
0,A.Uha Priya,Female,B.Sc,Computer Applications,Cloud computing,Python;SQL;Java,85,Yes,"Linux,Git",Yes,Software,MCA
1,Aadil,Male,B.E,Computer Science Engineering,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5,Yes,Microsoft certification,Yes,Computer Software Engineer,NaN
2,Aakriti,Female,BA,Psychology,Understand human behaviour,People management;Communication skills,64.6,Yes,Resilience psychology,No,NaN,NaN
3,Aanchal sharma,Female,MBA,Commerce,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525,No,No,Yes,Relationships manager,NaN
4,Aangkeeta Sarkar,Female,B.Tech,Instrumentation Engineering,Technology,\nPLC Allen Bradley;PLC Ladder Logic;LabVIEW;B...,70.68,Yes,Extreme Productivity (Blinkist Summary),Yes,Plant Instrumentation Engineer,NaN

## Checking for Null Values and filling them

In [4]:
df_test.isnull().sum()

What is your name?                                                                                                            0
What is your gender?                                                                                                          0
What was your course in UG?                                                                                                   0
What is your UG specialization? Major Subject (Eg; Mathematics)                                                               0
What are your interests?                                                                                                      0
What are your skills ? (Select multiple if necessary)                                                                         1
What was the average CGPA or Percentage obtained in under graduation?                                                         0
Did you do any certification courses additionally?                                                                            0
If yes, please specify your certificate course title.                                                                         1
Are you working?                                                                                                              0
If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.                   296
Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)             726
dtype: int64

In [5]:
df_test['What are your skills ? (Select multiple if necessary)'].mode()

0    NO
Name: What are your skills ? (Select multiple if necessary), dtype: object

In [7]:
df_test['What are your skills ? (Select multiple if necessary)'].fillna(df_test['What are your skills ? (Select multiple if necessary)'].mode()[0],inplace=True)

In [8]:
df_test['If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               '].mode()

0    Student (Unemployed)
Name: If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               , dtype: object

In [10]:
df_test['If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               '].fillna(df_test['If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               '].mode()[0],inplace=True)

In [11]:
df_test['Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)'].mode()

0    Masters in Business Administration
Name: Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics), dtype: object

In [13]:
df_test['Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)'].fillna(df_test['Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)'].mode()[0],inplace=True)

In [14]:
df_test.isnull().sum()

What is your name?                                                                                                          0
What is your gender?                                                                                                        0
What was your course in UG?                                                                                                 0
What is your UG specialization? Major Subject (Eg; Mathematics)                                                             0
What are your interests?                                                                                                    0
What are your skills ? (Select multiple if necessary)                                                                       0
What was the average CGPA or Percentage obtained in under graduation?                                                       0
Did you do any certification courses additionally?                                                                          0
If yes, please specify your certificate course title.                                                                       1
Are you working?                                                                                                            0
If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.                   0
Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)             0
dtype: int64

In [15]:
# Create a dictionary of the old column names and new column names
column_dict= {'What is your name?': 'Name',
               'What is your gender?': 'Gender',
               'What was your course in UG?': 'Course',
               'What is your UG specialization? Major Subject (Eg; Mathematics)': 'Specialization',
               'What are your interests?': 'Interest',
               'What are your skills ? (Select multiple if necessary)': 'Skills',
               'What was the average CGPA or Percentage obtained in under graduation?': 'Grades',
               'Did you do any certification courses additionally?': 'Any_Add_Cert_Courses',
               'If yes, please specify your certificate course title.': 'Cert_Courses_Desc',
               'Are you working?': 'Working?',
               'If yes, then what is/was your first Job title in your current field of work? If not applicable, write NA.               ': 'Job_Title',
               'Have you done masters after undergraduation? If yes, mention your field of masters.(Eg; Masters in Mathematics)': 'Masters_Desc'}

# Rename the columns using the dictionary
df_test = df_test.rename(columns=column_dict)

In [16]:
print(df_test.columns)

Index(['Name', 'Gender', 'Course', 'Specialization', 'Interest', 'Skills',
       'Grades', 'Any_Add_Cert_Courses', 'Cert_Courses_Desc', 'Working?',
       'Job_Title', 'Masters_Desc'],
      dtype='object')

In [17]:
df_test.drop(['Name', 'Specialization', 'Any_Add_Cert_Courses', 'Cert_Courses_Desc', 'Working?', 'Job_Title', 'Masters_Desc'], axis=1, inplace=True)

In [18]:
print(df_test.columns)

Index(['Gender', 'Course', 'Interest', 'Skills', 'Grades'], dtype='object')

## Data Cleaning using Klib Library

In [19]:
import klib

In [20]:
klib.convert_datatypes(df_test) # converts existing to more efficient dtypes, also called inside data_cleaning()

,Gender,Course,Interest,Skills,Grades
0,Female,B.Sc,Cloud computing,Python;SQL;Java,85
1,Male,B.E,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5
2,Female,BA,Understand human behaviour,People management;Communication skills,64.6
3,Female,MBA,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525
4,Female,B.Tech,Technology,PLC Allen Bradley;PLC Ladder Logic;LabVIEW;Bu...,70.68
...,...,...,...,...,...
1190,Male,B.Tech,Technology,"Python, SQL, Oracle",72.2
1191,Male,B.Sc,Technology,"SQL, Problem Solving skills",80.75
1192,Male,B.Tech,Technology;Content Writing,Programming Language skills;Critical Thinking;...,59.22
1193,Male,BE,"Financial Analysis, Technology","AI, Java, SQL, C++, R, Linux",57
1194,Male,B.Sc,Animation,2D/3D Animation,76.285

In [21]:
klib.clean_column_names(df_test) # cleans and standardizes column names, also called inside data_cleaning()

,gender,course,interest,skills,grades
0,Female,B.Sc,Cloud computing,Python;SQL;Java,85
1,Male,B.E,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5
2,Female,BA,Understand human behaviour,People management;Communication skills,64.6
3,Female,MBA,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525
4,Female,B.Tech,Technology,\nPLC Allen Bradley;PLC Ladder Logic;LabVIEW;B...,70.68
...,...,...,...,...,...
1190,Male,B.Tech,Technology,"Python, SQL, Oracle",72.2
1191,Male,B.Sc,Technology,"SQL, Problem Solving skills",80.75
1192,Male,B.Tech,Technology;Content Writing,Programming Language skills;Critical Thinking;...,59.22
1193,Male,BE,"Financial Analysis, Technology","AI, Java, SQL, C++, R, Linux",57
1194,Male,B.Sc,Animation,2D/3D Animation,76.285

In [22]:
klib.data_cleaning(df_test) # performs datacleaning (drop duplicates & empty rows/cols, adjust dtypes,...)

Shape of cleaned data: (1180, 5) - Remaining NAs: 0


Dropped rows: 15
     of which 15 duplicates. (Rows (first 150 shown): [167, 293, 412, 446, 500, 629, 635, 694, 777, 863, 924, 1000, 1078, 1093, 1139])

Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 0.01 MB (-20.0%)

,gender,course,interest,skills,grades
0,Female,B.Sc,Cloud computing,Python;SQL;Java,85
1,Male,B.E,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5
2,Female,BA,Understand human behaviour,People management;Communication skills,64.6
3,Female,MBA,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525
4,Female,B.Tech,Technology,PLC Allen Bradley;PLC Ladder Logic;LabVIEW;Bu...,70.68
...,...,...,...,...,...
1175,Male,B.Tech,Technology,"Python, SQL, Oracle",72.2
1176,Male,B.Sc,Technology,"SQL, Problem Solving skills",80.75
1177,Male,B.Tech,Technology;Content Writing,Programming Language skills;Critical Thinking;...,59.22
1178,Male,BE,"Financial Analysis, Technology","AI, Java, SQL, C++, R, Linux",57
1179,Male,B.Sc,Animation,2D/3D Animation,76.285

In [23]:
klib.mv_col_handling(df_test)

C:\Users\chita\AppData\Local\Programs\Python\Python313\Lib\site-packages\klib\clean.py:443: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data_local[cols_mv] = data_local[cols_mv].applymap(lambda x: x if pd.isna(x) else 1).fillna(0)

,gender,course,interest,skills,grades
0,Female,B.Sc,Cloud computing,Python;SQL;Java,85
1,Male,B.E,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",66.5
2,Female,BA,Understand human behaviour,People management;Communication skills,64.6
3,Female,MBA,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,75.525
4,Female,B.Tech,Technology,\nPLC Allen Bradley;PLC Ladder Logic;LabVIEW;B...,70.68
...,...,...,...,...,...
1190,Male,B.Tech,Technology,"Python, SQL, Oracle",72.2
1191,Male,B.Sc,Technology,"SQL, Problem Solving skills",80.75
1192,Male,B.Tech,Technology;Content Writing,Programming Language skills;Critical Thinking;...,59.22
1193,Male,BE,"Financial Analysis, Technology","AI, Java, SQL, C++, R, Linux",57
1194,Male,B.Sc,Animation,2D/3D Animation,76.285

## Preprocessing Task before Model Building¶
Label Encoding

In [24]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [25]:
df_test['gender'] = le.fit_transform(df_test['gender'])
df_test['course'] = le.fit_transform(df_test['course'])

In [26]:
# convert input strings to lower case,remove any leading/trailing spaces, replace any semicolons by comms and split the input strings by comma to create a list
df_test['interest'] = df_test['interest'].apply(lambda x: [interest.lower().strip() for interest in x.replace(';', ',').split(',')])
df_test['skills'] = df_test['skills'].apply(lambda x: [skill.lower().strip() for skill in x.replace(';', ',').split(',')])

Multi-Hot Encoding

In [27]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

In [28]:
# create a separate instance of MultiLabelBinarizer for each column
mlb_interest = MultiLabelBinarizer()
mlb_skills = MultiLabelBinarizer()

# perform multihot encoding on each column separately
encoded_interest = mlb_interest.fit_transform(df_test['interest'])
encoded_skills = mlb_skills.fit_transform(df_test['skills'])

# concatenate the encoded arrays with the original dataframe
df_test = pd.concat([df_test, pd.DataFrame(encoded_interest, columns=mlb_interest.classes_), pd.DataFrame(encoded_skills, columns=mlb_skills.classes_)], axis=1)

# remove the original columns from the encoded dataframe
df_test.drop(['interest', 'skills'], axis=1, inplace=True)

In [29]:
df_test.shape

(1195, 665)

In [30]:
df_test

,gender,course,grades,,agriculture,all fields related to data science,all fields related to data science.,all fields related to data science.machine learning,analysis,animation,...,working capital management,writing,writing skills,x-ray crystallography,xcode,xilinx vivado,xml,yii2,zoho,zuul api gateway
0,0,13,85,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,6,66.5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,15,64.6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,50,75.525,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,14,70.68,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,1,14,72.2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1191,1,13,80.75,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1192,1,14,59.22,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1193,1,22,57,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1194,1,13,76.285,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [31]:
import joblib

In [34]:
# Save label encoders
joblib.dump(le,r'\Models\le.pkl')
joblib.dump(mlb,r'\Models\mlb.pkl')

FileNotFoundError: [Errno 2] No such file or directory: '\\Models\\le.pkl'

In [35]:
# Check the correlation between columns
corr_matrix = df_test.corr()

# Display the correlation matrix
print(corr_matrix)

                    gender    course    grades            agriculture  \
gender            1.000000  0.012200 -0.095024  0.019801     0.018491
course            0.012200  1.000000 -0.081325 -0.008488     0.103857
grades           -0.095024 -0.081325  1.000000  0.003469    -0.011620
                  0.019801 -0.008488  0.003469  1.000000    -0.002521
agriculture       0.018491  0.103857 -0.011620 -0.002521     1.000000
...                    ...       ...       ...       ...          ...
xilinx vivado     0.019801 -0.008488  0.016624 -0.000838    -0.002521
xml               0.028014 -0.012010  0.035928 -0.001185    -0.003567
yii2              0.019801 -0.008488  0.013701 -0.000838    -0.002521
zoho              0.019801 -0.008488  0.031241 -0.000838    -0.002521
zuul api gateway  0.019801 -0.008488  0.031241 -0.000838    -0.002521

                  all fields related to data science  \
gender                                      0.029232
course                                     -0.022515
grades                                      0.060488
                                           -0.002221
agriculture                                -0.006687
...                                              ...
xilinx vivado                              -0.002221
xml                                         0.533401
yii2                                        0.377014
zoho                                       -0.002221
zuul api gateway                           -0.002221

                  all fields related to data science.  \
gender                                       0.031356
course                                       0.065864
grades                                      -0.040321
                                            -0.005920
agriculture                                 -0.017820
...                                               ...
xilinx vivado                               -0.005920
xml                                         -0.008376
yii2                                        -0.005920
zoho                                        -0.005920
zuul api gateway                            -0.005920

                  all fields related to data science.machine learning  \
gender                                                     0.019801
course                                                    -0.008488
grades                                                    -0.012610
                                                          -0.000838
agriculture                                               -0.002521
...                                                             ...
xilinx vivado                                             -0.000838
xml                                                       -0.001185
yii2                                                      -0.000838
zoho                                                      -0.000838
zuul api gateway                                          -0.000838

                  analysis  animation  ...  working capital management  \
gender            0.019801   0.028014  ...                   -0.041659
course           -0.037363  -0.016095  ...                   -0.008488
grades           -0.000916   0.009664  ...                    0.006684
                 -0.000838  -0.001185  ...                   -0.000838
agriculture      -0.002521  -0.003567  ...                   -0.002521
...                    ...        ...  ...                         ...
xilinx vivado    -0.000838  -0.001185  ...                   -0.000838
xml              -0.001185  -0.001676  ...                   -0.001185
yii2             -0.000838  -0.001185  ...                   -0.000838
zoho             -0.000838  -0.001185  ...                   -0.000838
zuul api gateway -0.000838  -0.001185  ...                   -0.000838

                   writing  writing skills  x-ray crystallography     xcode  \
gender           -0.056290       -0.123823               0.019801  0.019801
course           -0.102495        0.075297              -0.011376 -0.008488
grades            0.008415        0.043893               0.039134  0.047027
                 -0.006770       -0.009489              -0.000838 -0.000838
agriculture      -0.020378        0.036825              -0.002521 -0.002521
...                    ...             ...                    ...       ...
xilinx vivado    -0.006770       -0.009489              -0.000838 -0.000838
xml              -0.009578       -0.013425              -0.001185 -0.001185
yii2             -0.006770       -0.009489              -0.000838 -0.000838
zoho             -0.006770       -0.009489              -0.000838 -0.000838
zuul api gateway -0.006770       -0.009489              -0.000838 -0.000838

                  xilinx vivado       xml      yii2      zoho  \
gender                 0.019801  0.028014  0.019801  0.019801
course                -0.008488 -0.012010 -0.008488 -0.008488
grades                 0.016624  0.035928  0.013701  0.031241
                      -0.000838 -0.001185 -0.000838 -0.000838
agriculture           -0.002521 -0.003567 -0.002521 -0.002521
...                         ...       ...       ...       ...
xilinx vivado          1.000000 -0.001185 -0.000838 -0.000838
xml                   -0.001185  1.000000  0.706811 -0.001185
yii2                  -0.000838  0.706811  1.000000 -0.000838
zoho                  -0.000838 -0.001185 -0.000838  1.000000
zuul api gateway      -0.000838 -0.001185 -0.000838  1.000000

                  zuul api gateway
gender                    0.019801
course                   -0.008488
grades                    0.031241
                         -0.000838
agriculture              -0.002521
...                            ...
xilinx vivado            -0.000838
xml                      -0.001185
yii2                     -0.000838
zoho                      1.000000
zuul api gateway          1.000000

[665 rows x 665 columns]

## Splitting our data into train and test

In [36]:
X=df_test.drop('course',axis=1)

In [37]:
Y=df_test['course']

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, random_state=101, test_size=0.2)

## Standarization

In [39]:
X.describe()

,gender,,agriculture,all fields related to data science,all fields related to data science.,all fields related to data science.machine learning,analysis,animation,application development,architecture and construction,...,working capital management,writing,writing skills,x-ray crystallography,xcode,xilinx vivado,xml,yii2,zoho,zuul api gateway
count,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,...,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000,1195.000000
mean,0.677824,0.000837,0.007531,0.005858,0.040167,0.000837,0.000837,0.001674,0.000837,0.000837,...,0.000837,0.051883,0.097071,0.000837,0.000837,0.000837,0.001674,0.000837,0.000837,0.000837
std,0.471075,0.028928,0.086492,0.076343,0.196434,0.028928,0.028928,0.040893,0.028928,0.028928,...,0.028928,0.221883,0.296179,0.028928,0.028928,0.028928,0.040893,0.028928,0.028928,0.028928
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [40]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()

In [41]:
X_train_std= sc.fit_transform(X_train)

In [42]:
X_test_std= sc.transform(X_test)

In [43]:
X_train_std

array([[ 0.68950992,  1.39747204, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [ 0.68950992, -1.64764932, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [ 0.68950992,  0.18155668, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       ...,
       [ 0.68950992,  1.51906357, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [ 0.68950992, -0.73037984, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [-1.42321919,  0.48553552, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924]])

In [44]:
X_test_std

array([[ 0.68950992, -0.52772728, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [-1.42321919,  0.92123852, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [-1.42321919,  0.80551324, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       ...,
       [ 0.68950992,  0.07169766, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [-1.42321919,  0.37887628, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924],
       [-1.42321919,  0.99216692, -0.03235924, ..., -0.03235924,
        -0.03235924, -0.03235924]])

In [45]:
Y_train

678    23
533    22
50     14
122    14
418    14
       ..
575    47
973    14
75      4
599    22
863    14
Name: course, Length: 956, dtype: int64

In [46]:
Y_test

463     22
352     13
860     13
1174    22
2       15
        ..
714     48
7       14
935     14
254      4
767     18
Name: course, Length: 239, dtype: int64

In [47]:
joblib.dump(sc,r'\Models\sc.sav')

FileNotFoundError: [Errno 2] No such file or directory: '\\Models\\sc.sav'

## Model Building
  and saving the model(s)

In [48]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression()

In [49]:
lr.fit(X_train_std,Y_train)

LinearRegression()

In [50]:
X_test.head()

,gender,grades,,agriculture,all fields related to data science,all fields related to data science.,all fields related to data science.machine learning,analysis,animation,application development,...,working capital management,writing,writing skills,x-ray crystallography,xcode,xilinx vivado,xml,yii2,zoho,zuul api gateway
463,1,66.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
352,0,80.085,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
860,0,79,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1174,1,65.55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,64.6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
Y_pred_lr=lr.predict(X_test_std)

In [52]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [53]:
print(r2_score(Y_test,Y_pred_lr))
print(mean_absolute_error(Y_test,Y_pred_lr))
print(np.sqrt(mean_squared_error(Y_test,Y_pred_lr)))

-2.603045696532308e+27
109791967779712.67
530413746870009.4

In [54]:
joblib.dump(lr,r'\Models\lr.sav')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\hp\\Documents\\Course Recommendation System\\Models\\lr.sav'

In [50]:
from sklearn.ensemble import RandomForestRegressor
rf= RandomForestRegressor()

In [51]:
rf.fit(X_train,Y_train)

RandomForestRegressor()

In [52]:
Y_pred_rf= rf.predict(X_test)

In [53]:
print(r2_score(Y_test,Y_pred_rf))
print(mean_absolute_error(Y_test,Y_pred_rf))
print(np.sqrt(mean_squared_error(Y_test,Y_pred_rf)))

-0.12233938335915262

6.889755927475592

11.013769331542402

In [54]:
joblib.dump(rf,r'C:\Users\hp\Documents\Course Recommendation System\Models\rf.sav')

['C:\\Users\\hp\\Documents\\Course Recommendation System\\Models\\rf.sav']

## Hyper Parameter Tuning

In [55]:
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV

# define models and parameters
model = RandomForestRegressor()
n_estimators = [10, 100, 1000]
max_depth=range(1,31)
min_samples_leaf=np.linspace(0.1, 1.0)
max_features=["auto", "sqrt", "log2"]
min_samples_split=np.linspace(0.1, 1.0, 10)

# define grid search
grid = dict(n_estimators=n_estimators, max_depth=max_depth)

#cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=101)

grid_search_forest = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, 
                           scoring='r2',error_score=0,verbose=2,cv=2)

grid_search_forest.fit(X_train_std, Y_train)

# summarize results
print(f"Best: {grid_search_forest.best_score_:.3f} using {grid_search_forest.best_params_}")
means = grid_search_forest.cv_results_['mean_test_score']
stds = grid_search_forest.cv_results_['std_test_score']
params = grid_search_forest.cv_results_['params']

for mean, stdev, param in zip(means, stds, params):
    print(f"{mean:.3f} ({stdev:.3f}) with: {param}")

Fitting 2 folds for each of 90 candidates, totalling 180 fits

Best: 0.014 using {'max_depth': 1, 'n_estimators': 10}

0.014 (0.013) with: {'max_depth': 1, 'n_estimators': 10}

0.010 (0.009) with: {'max_depth': 1, 'n_estimators': 100}

0.011 (0.005) with: {'max_depth': 1, 'n_estimators': 1000}

-0.020 (0.013) with: {'max_depth': 2, 'n_estimators': 10}

0.007 (0.014) with: {'max_depth': 2, 'n_estimators': 100}

0.013 (0.009) with: {'max_depth': 2, 'n_estimators': 1000}

-0.000 (0.011) with: {'max_depth': 3, 'n_estimators': 10}

0.006 (0.028) with: {'max_depth': 3, 'n_estimators': 100}

0.009 (0.022) with: {'max_depth': 3, 'n_estimators': 1000}

-0.022 (0.020) with: {'max_depth': 4, 'n_estimators': 10}

-0.006 (0.041) with: {'max_depth': 4, 'n_estimators': 100}

0.004 (0.036) with: {'max_depth': 4, 'n_estimators': 1000}

-0.013 (0.044) with: {'max_depth': 5, 'n_estimators': 10}

-0.006 (0.042) with: {'max_depth': 5, 'n_estimators': 100}

-0.004 (0.049) with: {'max_depth': 5, 'n_estimators': 1000}

-0.084 (0.046) with: {'max_depth': 6, 'n_estimators': 10}

-0.012 (0.047) with: {'max_depth': 6, 'n_estimators': 100}

-0.009 (0.054) with: {'max_depth': 6, 'n_estimators': 1000}

-0.075 (0.057) with: {'max_depth': 7, 'n_estimators': 10}

-0.019 (0.081) with: {'max_depth': 7, 'n_estimators': 100}

-0.014 (0.062) with: {'max_depth': 7, 'n_estimators': 1000}

-0.082 (0.052) with: {'max_depth': 8, 'n_estimators': 10}

-0.027 (0.068) with: {'max_depth': 8, 'n_estimators': 100}

-0.023 (0.070) with: {'max_depth': 8, 'n_estimators': 1000}

-0.067 (0.069) with: {'max_depth': 9, 'n_estimators': 10}

-0.037 (0.082) with: {'max_depth': 9, 'n_estimators': 100}

-0.029 (0.074) with: {'max_depth': 9, 'n_estimators': 1000}

-0.093 (0.032) with: {'max_depth': 10, 'n_estimators': 10}

-0.060 (0.078) with: {'max_depth': 10, 'n_estimators': 100}

-0.037 (0.073) with: {'max_depth': 10, 'n_estimators': 1000}

-0.130 (0.105) with: {'max_depth': 11, 'n_estimators': 10}

-0.040 (0.064) with: {'max_depth': 11, 'n_estimators': 100}

-0.046 (0.076) with: {'max_depth': 11, 'n_estimators': 1000}

-0.105 (0.053) with: {'max_depth': 12, 'n_estimators': 10}

-0.059 (0.084) with: {'max_depth': 12, 'n_estimators': 100}

-0.049 (0.074) with: {'max_depth': 12, 'n_estimators': 1000}

-0.061 (0.053) with: {'max_depth': 13, 'n_estimators': 10}

-0.058 (0.075) with: {'max_depth': 13, 'n_estimators': 100}

-0.058 (0.082) with: {'max_depth': 13, 'n_estimators': 1000}

-0.142 (0.082) with: {'max_depth': 14, 'n_estimators': 10}

-0.048 (0.072) with: {'max_depth': 14, 'n_estimators': 100}

-0.055 (0.077) with: {'max_depth': 14, 'n_estimators': 1000}

-0.107 (0.077) with: {'max_depth': 15, 'n_estimators': 10}

-0.071 (0.076) with: {'max_depth': 15, 'n_estimators': 100}

-0.059 (0.073) with: {'max_depth': 15, 'n_estimators': 1000}

-0.217 (0.109) with: {'max_depth': 16, 'n_estimators': 10}

-0.079 (0.090) with: {'max_depth': 16, 'n_estimators': 100}

-0.060 (0.077) with: {'max_depth': 16, 'n_estimators': 1000}

-0.106 (0.082) with: {'max_depth': 17, 'n_estimators': 10}

-0.065 (0.074) with: {'max_depth': 17, 'n_estimators': 100}

-0.063 (0.072) with: {'max_depth': 17, 'n_estimators': 1000}

-0.118 (0.070) with: {'max_depth': 18, 'n_estimators': 10}

-0.076 (0.061) with: {'max_depth': 18, 'n_estimators': 100}

-0.064 (0.073) with: {'max_depth': 18, 'n_estimators': 1000}

-0.151 (0.094) with: {'max_depth': 19, 'n_estimators': 10}

-0.080 (0.077) with: {'max_depth': 19, 'n_estimators': 100}

-0.064 (0.079) with: {'max_depth': 19, 'n_estimators': 1000}

-0.167 (0.116) with: {'max_depth': 20, 'n_estimators': 10}

-0.073 (0.080) with: {'max_depth': 20, 'n_estimators': 100}

-0.065 (0.075) with: {'max_depth': 20, 'n_estimators': 1000}

-0.154 (0.081) with: {'max_depth': 21, 'n_estimators': 10}

-0.081 (0.059) with: {'max_depth': 21, 'n_estimators': 100}

-0.070 (0.071) with: {'max_depth': 21, 'n_estimators': 1000}

-0.145 (0.077) with: {'max_depth': 22, 'n_estimators': 10}

-0.049 (0.079) with: {'max_depth': 22, 'n_estimators': 100}

-0.067 (0.074) with: {'max_depth': 22, 'n_estimators': 1000}

-0.155 (0.085) with: {'max_depth': 23, 'n_estimators': 10}

-0.075 (0.078) with: {'max_depth': 23, 'n_estimators': 100}

-0.067 (0.066) with: {'max_depth': 23, 'n_estimators': 1000}

-0.165 (0.059) with: {'max_depth': 24, 'n_estimators': 10}

-0.074 (0.079) with: {'max_depth': 24, 'n_estimators': 100}

-0.071 (0.072) with: {'max_depth': 24, 'n_estimators': 1000}

-0.163 (0.140) with: {'max_depth': 25, 'n_estimators': 10}

-0.079 (0.083) with: {'max_depth': 25, 'n_estimators': 100}

-0.069 (0.074) with: {'max_depth': 25, 'n_estimators': 1000}

-0.206 (0.072) with: {'max_depth': 26, 'n_estimators': 10}

-0.077 (0.070) with: {'max_depth': 26, 'n_estimators': 100}

-0.063 (0.070) with: {'max_depth': 26, 'n_estimators': 1000}

-0.149 (0.077) with: {'max_depth': 27, 'n_estimators': 10}

-0.069 (0.063) with: {'max_depth': 27, 'n_estimators': 100}

-0.071 (0.070) with: {'max_depth': 27, 'n_estimators': 1000}

-0.128 (0.065) with: {'max_depth': 28, 'n_estimators': 10}

-0.064 (0.069) with: {'max_depth': 28, 'n_estimators': 100}

-0.066 (0.070) with: {'max_depth': 28, 'n_estimators': 1000}

-0.157 (0.072) with: {'max_depth': 29, 'n_estimators': 10}

-0.072 (0.072) with: {'max_depth': 29, 'n_estimators': 100}

-0.071 (0.070) with: {'max_depth': 29, 'n_estimators': 1000}

-0.194 (0.106) with: {'max_depth': 30, 'n_estimators': 10}

-0.077 (0.072) with: {'max_depth': 30, 'n_estimators': 100}

-0.071 (0.070) with: {'max_depth': 30, 'n_estimators': 1000}

In [56]:
grid_search_forest.best_params_

{'max_depth': 1, 'n_estimators': 10}

In [57]:
grid_search_forest.best_score_

0.014422860031326201

In [58]:
Y_pred_rf_grid=grid_search_forest.predict(X_test_std)

## Save your model

In [59]:
#import joblib

In [60]:
joblib.dump(grid_search_forest,r'C:\Users\hp\Documents\Course Recommendation System\Models\random_forest_grid2.sav')

['C:\\Users\\hp\\Documents\\Course Recommendation System\\Models\\random_forest_grid2.sav']

# YOU MAY NEED THIS DURING DEPLOYMENT

Interests

Cloud computing
Technology
Understand human behaviour
Sales/Marketing
Trading
Home interior design
Research
Teaching
Understand human body
Content Writing
Govt. Job
Service
Infrastructure
Financial Analysis
Take risk for Profits
Entrepreneurship
Digital marketing
Market research
Agriculture
Construction Management
Data analytics
Data scientist
Industries
Information Technology
News Coverage
Social Justice
Supply Chain Analysis
Game industry
Design
Web Designing
Web development
Social causes
Blockchain
Machine Learning
Excel
Sports Industry
Product Life cycle Management
SAP Consultant in MM
Project Management
Navy Defence related
Oil and Gas
BioTechnology
Software developer
Hospitality
Salesforce Admin
Social media marketing
Software Job
IT
Urban Planning
Data entry or telecalling work
Mobile App Development
Geography
Geology
Statistical Programmer
Software Engineering
Gardening
Operations
Cyber Security
Application Development
Higher Studies
Retailer
Litigation & Legal service

<label for="interest">Interest:</label>
<input type="text" id="interest" name="interest" list="interest-list">

<datalist id="interest-list">
  <option value="Cloud computing">
  <option value="Technology">
  <option value="Understand human behaviour">
  <option value="Sales/Marketing">
  <option value="Trading">
  <option value="Home interior design">
  <option value="Research">
  <option value="Teaching">
  <option value="Understand human body">
  <option value="Content Writing">
  <option value="Govt. Job">
  <option value="Service">
  <option value="Infrastructure">
  <option value="Financial Analysis">
  <option value="Take risk for Profits">
  <option value="Entrepreneurship">
  <option value="Digital marketing">
  <option value="Market research">
  <option value="Agriculture">
  <option value="Construction Management">
  <option value="Data analytics">
  <option value="Data scientist">
  <option value="Industries">
  <option value="Information Technology">
  <option value="News Coverage">
  <option value="Social Justice">
  <option value="Supply Chain Analysis">
  <option value="Game industry">
  <option value="Design">
  <option value="Web Designing">
  <option value="Web development">
  <option value="Social causes">
  <option value="Blockchain">
  <option value="Machine Learning">
  <option value="Excel">
  <option value="Sports Industry">
  <option value="Product Life cycle Management">
  <option value="SAP Consultant in MM">
  <option value="Project Management">
  <option value="Navy Defence related">
  <option value="Oil and Gas">
  <option value="BioTechnology">
  <option value="Software developer">
  <option value="Hospitality">
  <option value="Salesforce Admin">
  <option value="Social media marketing">
  <option value="Software Job">
  <option value="IT">
  <option value="Urban Planning">
  <option value="Data entry or telecalling work">
  <option value="Mobile App Development">
  <option value="Geography">
  <option value="Geology">
  <option value="Statistical Programmer">
  <option value="Software Engineering">
  <option value="Gardening">
  <option value="Operations">
  <option value="Cyber Security">
  <option value="Application Development">
  <option value="Higher Studies">
  <option value="Retailer">
  <option value="Litigation & Legal service">
</datalist>

Skills

Python
SQL
Java
Critical Thinking
Analytic Thinking
Programming
Work under Pressure
Logical Skills
Problem Solving skills
People management
Communication skills
Accounting Skills
PLC Allen Bradley
PLC Ladder Logic
LabVIEW
Business Analysis
End-to-End Project Management
Cross-functional Team Leadership
Requirements Gathering
Lean Six Sigma
Lean six sigma blackbelt
Productivity Improvement
C
HTML
Active Listening
Gathering Information
Artistic/Creative Skills
Leadership
Editing
Writing skills
Medical knowledge
HR
Teaching
Cost Accounting
Team work
Tableau
Data Visualization skills( Power Bi/ Tableau )
Machine Learning skills
Artificial Intelligence
MATLAB
R
Designing skills
Proeficiency in Software like STAAD PRO, ETABS
Hardware skills
Product knowledge
Risk management skills
CAD/CAE(autocad/catia/ansys/proE/SeimensNX)
Finance related skills
Negotiation skills
Mass Communication
Sales
Interpersonal skills
Wealth Management
Financial Analysis
Financial Modeling
Marketing Strategy
Financial Services
Design and analysis of automobile components
Vehicle maintenance and reconditioning
Design for manufacturer and assemble
Creativity Skills
Excel
Teamwork
Time Management
Company Secretarial Work
Legal Compliance
Interpersonal Communication
Companies Act
Indirect Taxation
Cloud Computing
Reporting
Observation Skills
Subject Knowledge
Business Knowledge
Market Study
Civil & Criminal Law
Social Media Marketing
Bootstrap
Node.js
Angular
JIRA
TRELLO
Jquery
Javascript
Ajax
PHP

Codeignitor
Loopback
Hospitality
Polymerase Chain Reaction (PCR)
Life Sciences
protein purification
protein chemistry
Protein Assays
Protein Electrophoresis
Protein Chromatography
Western Blotting
Protein Structure Prediction
Protein Kinases
protein characterization
protein engineering
Phytochemistry
Metabolomics
DNA
Biochemistry
Bioinformatics
Cell Culture
STAAD PRO
ETABS
Data science
SAP
.NET Framework
Transact
Technical machine fitter
C#
Good communication skills
Client management
Business Analytics
Risk Analytics
SAS
Marketing Management
Market Research
Business Strategy
Commercial Banking
Portfolio Management
Supply Chain Management
Business Process Reengineering
Consumer Behaviour
Long-term Customer Relationships
Retail Marketing
Financial Accounting
credit risk modeling
Security Analysis
Working Capital Management
Strategic Marketing
Investment Banking
Structured Finance
Building Rapport

<label for="skills">Interest:</label> <input type="text" id="skills" name="skills" list="skills-list">  
<datalist id="skills-list">
  <option value="Python">
  <option value="SQL">
  <option value="Java">
  <option value="Critical Thinking">
  <option value="Analytic Thinking">
  <option value="Programming">
  <option value="Work under Pressure">
  <option value="Logical Skills">
  <option value="Problem Solving skills">
  <option value="People management">
  <option value="Communication skills">
  <option value="Accounting Skills">
  <option value="PLC Allen Bradley">
  <option value="PLC Ladder Logic">
  <option value="LabVIEW">
  <option value="Business Analysis">
  <option value="End-to-End Project Management">
  <option value="Cross-functional Team Leadership">
  <option value="Requirements Gathering">
  <option value="Lean Six Sigma">
  <option value="Lean six sigma blackbelt">
  <option value="Productivity Improvement">
  <option value="C">
  <option value="HTML">
  <option value="Active Listening">
  <option value="Gathering Information">
  <option value="Artistic/Creative Skills">
  <option value="Leadership">
  <option value="Editing">
  <option value="Writing skills">
  <option value="Medical knowledge">
  <option value="HR">
  <option value="Teaching">
  <option value="Cost Accounting">
  <option value="Team work">
  <option value="Tableau">
  <option value="Data Visualization skills( Power Bi/ Tableau )">
  <option value="Machine Learning skills">
  <option value="Artificial Intelligence">
  <option value="MATLAB">
  <option value="R">
  <option value="Designing skills">
  <option value="Proeficiency in Software like STAAD PRO, ETABS">
  <option value="Hardware skills">
  <option value="Product knowledge">
  <option value="Risk management skills">
  <option value="CAD/CAE(autocad/catia/ansys/proE/SeimensNX)">
  <option value="Finance related skills">
  <option value="Negotiation skills">
  <option value="Mass Communication">
  <option value="Sales">
  <option value="Interpersonal skills">
  <option value="Wealth Management">
  <option value="Financial Analysis">
  <option value="Financial Modeling">
  <option value="Marketing Strategy">
  <option value="Financial Services">
  <option value="Design and analysis of automobile components">
  <option value="Vehicle maintenance and reconditioning">
  <option value="Design for manufacturer and assemble">
  <option value="Creativity Skills">
  <option value="Excel">
  <option value="Teamwork">
  <option value="Time Management">   
  <option value="Company Secretarial Work">   
  <option value="Legal Compliance">   
  <option value="Interpersonal Communication">   
  <option value="Companies Act">   
  <option value="Indirect Taxation">   
  <option value="Cloud Computing">   
  <option value="Reporting">   
  <option value="Observation Skills">   
  <option value="Subject Knowledge">   
  <option value="Business Knowledge">   
  <option value="Market Study">   
  <option value="Civil & Criminal Law">   
  <option value="Social Media Marketing">   
  <option value="Bootstrap">   
  <option value="Node.js">   
  <option value="Angular">   
  <option value="JIRA">   
  <option value="TRELLO">   
  <option value="Jquery">   
  <option value="Javascript">   
  <option value="Ajax">   
  <option value="PHP">  
<option value="Codeignitor">
<option value="Loopback">
<option value="Hospitality">
<option value="Polymerase Chain Reaction (PCR)">
<option value="Life Sciences">
<option value="Protein Purification">
<option value="Protein Chemistry">
<option value="Protein Assays">
<option value="Protein Electrophoresis">
<option value="Protein Chromatography">
<option value="Western Blotting">
<option value="Protein Structure Prediction">
<option value="Protein Kinases">
<option value="Protein Characterization">
<option value="Protein Engineering">
<option value="Phytochemistry">
<option value="Metabolomics">
<option value="DNA">
<option value="Biochemistry">
<option value="Bioinformatics">
<option value="Cell Culture">
<option value="STAAD PRO">
<option value="ETABS">
<option value="Data Science">
<option value="SAP">
<option value=".NET Framework">
<option value="Transact">
<option value="Technical Machine Fitter">
<option value="C#">
<option value="Good Communication Skills">
<option value="Client Management">
<option value="Business Analytics">
<option value="Risk Analytics">
<option value="SAS">
<option value="Marketing Management">
<option value="Market Research">
<option value="Business Strategy">
<option value="Commercial Banking">
<option value="Portfolio Management">
<option value="Supply Chain Management">
<option value="Business Process Reengineering">
<option value="Consumer Behaviour">
<option value="Long-term Customer Relationships">
<option value="Retail Marketing">
<option value="Financial Accounting">
<option value="Credit Risk Modeling">
<option value="Security Analysis">
<option value="Working Capital Management">
<option value="Strategic Marketing">
  <option value="Investment Banking">
  <option value="Structured Finance">
  <option value="Building Rapport">
</datalist>